---
http_interactions:
- request:
    method: post
    uri: https://www.clearsale.com.br/integracaov2/service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.clearsale.com.br/integration"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:int="http://www.clearsale.com.br/integration"><env:Body><wsdl:GetOrderStatus><int:orderID>AA22BB11</int:orderID><int:entityCode>0E6F0C82-FC05-4AA7-86D4-EBBFC0FDC41A</int:entityCode></wsdl:GetOrderStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.clearsale.com.br/integration/GetOrderStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetOrderStatusResponse
        xmlns=\"http://www.clearsale.com.br/integration\"><GetOrderStatusResult>&lt;?xml
        version=\"1.0\" encoding=\"utf-16\"?&gt;\r\n&lt;TransactionStatus&gt;\r\n
        \ &lt;StatusCode&gt;UserNotFound&lt;/StatusCode&gt;\r\n  &lt;Message&gt;UserNotFound&lt;/Message&gt;\r\n&lt;/TransactionStatus&gt;</GetOrderStatusResult></GetOrderStatusResponse></soap:Body></soap:Envelope>"
  recorded_at: Sun, 01 Jul 2012 14:13:00 GMT
recorded_with: VCR 3.0.3
