---
http_interactions:
- request:
    method: post
    uri: http://homologacao.clearsale.com.br/Integracaov2/Service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.clearsale.com.br/integration"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:int="http://www.clearsale.com.br/integration"><env:Body><wsdl:SendOrders><int:xml>&lt;ClearSale&gt;&lt;Orders&gt;&lt;Order&gt;&lt;ID&gt;AA22BB11&lt;/ID&gt;&lt;Date&gt;2012-07-01T11:13:00.000-03:00&lt;/Date&gt;&lt;Email&gt;petergriffin@abc.com&lt;/Email&gt;&lt;TotalItens&gt;20.0&lt;/TotalItens&gt;&lt;TotalOrder&gt;25.0&lt;/TotalOrder&gt;&lt;QtyInstallments&gt;3&lt;/QtyInstallments&gt;&lt;QtyItems&gt;3&lt;/QtyItems&gt;&lt;IP&gt;127.0.0.1&lt;/IP&gt;&lt;CollectionData&gt;&lt;ID&gt;8888&lt;/ID&gt;&lt;Type&gt;1&lt;/Type&gt;&lt;LegalDocument1&gt;24878346337&lt;/LegalDocument1&gt;&lt[...]
